body {
    background-color: #F6F7EB;
    margin: 20px;
    margin-left: 10vw;
    margin-right: 10vw;
}

h1 {
    font-family:'Courier New', Courier, monospace;
    font-weight: 100;
    color:#393E41;
}

p {
    font-family: serif;
    color:#393E41;
    background-color: rgba(1, 1, 1, 0.1);
    padding: 10px;
}